/*Fonts*/
@font-face {
    font-family: 'Orbitron4';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/orbitron/v17/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1nyGy6BoWgz.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

  @font-face {
    font-family: 'Orbitron7';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url(https://fonts.gstatic.com/s/orbitron/v17/yMJMMIlzdpvBhQQL_SC3X9yhF25-T1ny_CmBoWgz.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
  }

/*Box Model*/
html {
    padding: 0, 20px, 20px, 20px;
}

/*Background*/
html {
    background: rgb(83,0,0);
    background: linear-gradient(0deg, rgba(83,0,0,1) 0%, rgba(0,0,0,1) 79%); 
    background-repeat: no-repeat;
    
}

/*Text Formatting*/
html {
    font-family: "Orbitron4", sans-serif;
    color: rgb(94, 177, 191);
    height: 100%;
}

body {
    width: 600px;
    margin: 0 auto;
    padding: 0 20px 20px 20px;
}

h1 {
    font-family: "Orbitron7";
    margin: 0;
    padding: 20px 0;
    text-align: center;
    font-style: italic;
}

p {
    font-size: 1.5em;
    text-align: center;
}

.second {
    text-decoration:underline;
}



